/* [ CTA ] */
/* [ Botões ] */
/* [ Green Bootstrap Button ] */
.btn-green {
    color: #ffffff;
    background-color: #84c225;
    border-color: #84c225;
    font-weight: 700;
}

.btn-green:focus,
.btn-green.focus {
    color: #ffffff;
    background-color: #78b41b;
    border-color: #78b41b;
}

.btn-green:hover {
    color: #ffffff;
    background-color: #78b41b;
    border-color: #78b41b;
}

.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
    color: #ffffff;
    background-color: #78b41b;
    border-color: #78b41b;
}

.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
    color: #ffffff;
    background-color: #78b41b;
    border-color: #78b41b;
}

.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
    background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-green .badge {
    color: #84c225;
    background-color: #ffffff;
}

/* [ Green Ghost Bootstrap Button ] */
.btn-green.ghost {
    color: #84c225;
    background-color: #ffffff;
    border-color: #84c225;
}

.btn-green.ghost:focus,
.btn-green.ghost.focus {
    color: #78b41b;
    background-color: #ffffff;
    border-color: #78b41b;
}

.btn-green.ghost:hover {
    color: #78b41b;
    background-color: #ffffff;
    border-color: #78b41b;
}

.btn-green.ghost:active,
.btn-green.ghost.active,
.open > .dropdown-toggle.btn-green.ghost {
    color: #78b41b;
    background-color: #ffffff;
    border-color: #78b41b;
}

.btn-green.ghost:active:hover,
.btn-green.ghost.active:hover,
.open > .dropdown-toggle.btn-green.ghost:hover,
.btn-green.ghost:active:focus,
.btn-green.ghost.active:focus,
.open > .dropdown-toggle.btn-green.ghost:focus,
.btn-green.ghost:active.focus,
.btn-green.ghost.active.focus,
.open > .dropdown-toggle.btn-green.ghost.focus {
    color: #78b41b;
    background-color: #ffffff;
    border-color: #78b41b;
}

.btn-green.ghost:active,
.btn-green.ghost.active,
.open > .dropdown-toggle.btn-green.ghost {
    background-image: none;
}

.btn-green.ghost.disabled,
.btn-green.ghost[disabled],
fieldset[disabled] .btn-green.ghost,
.btn-green.ghost.disabled:hover,
.btn-green.ghost[disabled]:hover,
fieldset[disabled] .btn-green.ghost:hover,
.btn-green.ghost.disabled:focus,
.btn-green.ghost[disabled]:focus,
fieldset[disabled] .btn-green.ghost:focus,
.btn-green.ghost.disabled.focus,
.btn-green.ghost[disabled].focus,
fieldset[disabled] .btn-green.ghost.focus,
.btn-green.ghost.disabled:active,
.btn-green.ghost[disabled]:active,
fieldset[disabled] .btn-green.ghost:active,
.btn-green.ghost.disabled.active,
.btn-green.ghost[disabled].active,
fieldset[disabled] .btn-green.ghost.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-green.ghost .badge {
    color: #84c225;
    background-color: #ffffff;
}

/* [ Green Ghost Transparent Bootstrap Button ] */
.btn-green.ghost.transparent {
    color: #84c225;
    background-color: transparent;
    border-color: #84c225;
}

.btn-green.ghost.transparent:focus,
.btn-green.ghost.transparent.focus {
    color: #78b41b;
    background-color: transparent;
    border-color: #78b41b;
}

.btn-green.ghost.transparent:hover {
    color: #78b41b;
    background-color: transparent;
    border-color: #78b41b;
}

.btn-green.ghost.transparent:active,
.btn-green.ghost.transparent.active,
.open > .dropdown-toggle.btn-green.ghost.transparent {
    color: #78b41b;
    background-color: transparent;
    border-color: #78b41b;
}

.btn-green.ghost.transparent:active:hover,
.btn-green.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-green.ghost.transparent:hover,
.btn-green.ghost.transparent:active:focus,
.btn-green.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-green.ghost.transparent:focus,
.btn-green.ghost.transparent:active.focus,
.btn-green.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-green.ghost.transparent.focus {
    color: #78b41b;
    background-color: transparent;
    border-color: #78b41b;
}

.btn-green.ghost.transparent:active,
.btn-green.ghost.transparent.active,
.open > .dropdown-toggle.btn-green.ghost.transparent {
    background-image: none;
}

.btn-green.ghost.transparent.disabled,
.btn-green.ghost.transparent[disabled],
fieldset[disabled] .btn-green.ghost.transparent,
.btn-green.ghost.transparent.disabled:hover,
.btn-green.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-green.ghost.transparent:hover,
.btn-green.ghost.transparent.disabled:focus,
.btn-green.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-green.ghost.transparent:focus,
.btn-green.ghost.transparent.disabled.focus,
.btn-green.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-green.ghost.transparent.focus,
.btn-green.ghost.transparent.disabled:active,
.btn-green.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-green.ghost.transparent:active,
.btn-green.ghost.transparent.disabled.active,
.btn-green.ghost.transparent[disabled].active,
fieldset[disabled] .btn-green.ghost.transparent.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-green.ghost.transparent .badge {
    color: #84c225;
    background-color: transparent;
}

/* [ Blue Bootstrap Button ] */
.btn-blue {
    color: #ffffff;
    background-color: #7bb8c9;
    border-color: #7bb8c9;
    font-weight: 700;
}

.btn-blue:focus,
.btn-blue.focus {
    color: #ffffff;
    background-color: #4a9fb7;
    border-color: #4a9fb7;
}

.btn-blue:hover {
    color: #ffffff;
    background-color: #4a9fb7;
    border-color: #4a9fb7;
}

.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    color: #ffffff;
    background-color: #4a9fb7;
    border-color: #4a9fb7;
}

.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {
    color: #ffffff;
    background-color: #4a9fb7;
    border-color: #4a9fb7;
}

.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-blue .badge {
    color: #7bb8c9;
    background-color: #ffffff;
}

/* [ Blue Ghost Bootstrap Button ] */
.btn-blue.ghost {
    color: #7bb8c9;
    background-color: #ffffff;
    border-color: #7bb8c9;
}

.btn-blue.ghost:focus,
.btn-blue.ghost.focus {
    color: #4a9fb7;
    background-color: #ffffff;
    border-color: #4a9fb7;
}

.btn-blue.ghost:hover {
    color: #4a9fb7;
    background-color: #fff;
    border-color: #4a9fb7;
}

.btn-blue.ghost:active,
.btn-blue.ghost.active,
.open > .dropdown-toggle.btn-blue.ghost {
    color: #4a9fb7;
    background-color: #fff;
    border-color: #4a9fb7;
}

.btn-blue.ghost:active:hover,
.btn-blue.ghost.active:hover,
.open > .dropdown-toggle.btn-blue.ghost:hover,
.btn-blue.ghost:active:focus,
.btn-blue.ghost.active:focus,
.open > .dropdown-toggle.btn-blue.ghost:focus,
.btn-blue.ghost:active.focus,
.btn-blue.ghost.active.focus,
.open > .dropdown-toggle.btn-blue.ghost.focus {
    color: #4a9fb7;
    background-color: #fff;
    border-color: #4a9fb7;
}

.btn-blue.ghost:active,
.btn-blue.ghost.active,
.open > .dropdown-toggle.btn-blue.ghost {
    background-image: none;
}

.btn-blue.ghost.disabled,
.btn-blue.ghost[disabled],
fieldset[disabled] .btn-blue.ghost,
.btn-blue.ghost.disabled:hover,
.btn-blue.ghost[disabled]:hover,
fieldset[disabled] .btn-blue.ghost:hover,
.btn-blue.ghost.disabled:focus,
.btn-blue.ghost[disabled]:focus,
fieldset[disabled] .btn-blue.ghost:focus,
.btn-blue.ghost.disabled.focus,
.btn-blue.ghost[disabled].focus,
fieldset[disabled] .btn-blue.ghost.focus,
.btn-blue.ghost.disabled:active,
.btn-blue.ghost[disabled]:active,
fieldset[disabled] .btn-blue.ghost:active,
.btn-blue.ghost.disabled.active,
.btn-blue.ghost[disabled].active,
fieldset[disabled] .btn-blue.ghost.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-blue.ghost .badge {
    color: #7bb8c9;
    background-color: #ffffff;
}

/* [ Blue Ghost Transparent Bootstrap Button ] */
.btn-blue.ghost.transparent {
    color: #7bb8c9;
    background-color: transparent;
    border-color: #7bb8c9;
}

.btn-blue.ghost.transparent:focus,
.btn-blue.ghost.transparent.focus {
    color: #4a9fb7;
    background-color: transparent;
    border-color: #4a9fb7;
}

.btn-blue.ghost.transparent:hover {
    color: #4a9fb7;
    background-color: transparent;
    border-color: #4a9fb7;
}

.btn-blue.ghost.transparent:active,
.btn-blue.ghost.transparent.active,
.open > .dropdown-toggle.btn-blue.ghost.transparent {
    color: #4a9fb7;
    background-color: transparent;
    border-color: #4a9fb7;
}

.btn-blue.ghost.transparent:active:hover,
.btn-blue.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-blue.ghost.transparent:hover,
.btn-blue.ghost.transparent:active:focus,
.btn-blue.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-blue.ghost.transparent:focus,
.btn-blue.ghost.transparent:active.focus,
.btn-blue.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-blue.ghost.transparent.focus {
    color: #4a9fb7;
    background-color: transparent;
    border-color: #4a9fb7;
}

.btn-blue.ghost.transparent:active,
.btn-blue.ghost.transparent.active,
.open > .dropdown-toggle.btn-blue.ghost.transparent {
    background-image: none;
}

.btn-blue.ghost.transparent.disabled,
.btn-blue.ghost.transparent[disabled],
fieldset[disabled] .btn-blue.ghost.transparent,
.btn-blue.ghost.transparent.disabled:hover,
.btn-blue.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-blue.ghost.transparent:hover,
.btn-blue.ghost.transparent.disabled:focus,
.btn-blue.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-blue.ghost.transparent:focus,
.btn-blue.ghost.transparent.disabled.focus,
.btn-blue.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-blue.ghost.transparent.focus,
.btn-blue.ghost.transparent.disabled:active,
.btn-blue.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-blue.ghost.transparent:active,
.btn-blue.ghost.transparent.disabled.active,
.btn-blue.ghost.transparent[disabled].active,
fieldset[disabled] .btn-blue.ghost.transparent.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-blue.ghost.transparent .badge {
    color: #7bb8c9;
    background-color: transparent;
}

/**/
/* [ Primary Bootstrap Button ] */
.btn-primario {
    color: #ffffff;
    background-color: #ffaa00;
    border-color: #ffaa00;
    font-weight: 700;
}

.btn-primario:focus,
.btn-primario.focus {
    color: #ffffff;
    background-color: #ffbb33;
    border-color: #ffbb33;
}

.btn-primario:hover {
    color: #ffffff;
    background-color: #ffbb33;
    border-color: #ffbb33;
}

.btn-primario:active,
.btn-primario.active,
.open > .dropdown-toggle.btn-primario {
    color: #ffffff;
    background-color: #ffbb33;
    border-color: #ffbb33;
}

.btn-primario:active:hover,
.btn-primario.active:hover,
.open > .dropdown-toggle.btn-primario:hover,
.btn-primario:active:focus,
.btn-primario.active:focus,
.open > .dropdown-toggle.btn-primario:focus,
.btn-primario:active.focus,
.btn-primario.active.focus,
.open > .dropdown-toggle.btn-primario.focus {
    color: #ffffff;
    background-color: #ffbb33;
    border-color: #ffbb33;
}

.btn-primario:active,
.btn-primario.active,
.open > .dropdown-toggle.btn-primario {
    background-image: none;
}

.btn-primario.disabled,
.btn-primario[disabled],
fieldset[disabled] .btn-primario,
.btn-primario.disabled:hover,
.btn-primario[disabled]:hover,
fieldset[disabled] .btn-primario:hover,
.btn-primario.disabled:focus,
.btn-primario[disabled]:focus,
fieldset[disabled] .btn-primario:focus,
.btn-primario.disabled.focus,
.btn-primario[disabled].focus,
fieldset[disabled] .btn-primario.focus,
.btn-primario.disabled:active,
.btn-primario[disabled]:active,
fieldset[disabled] .btn-primario:active,
.btn-primario.disabled.active,
.btn-primario[disabled].active,
fieldset[disabled] .btn-primario.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-primario .badge {
    color: #ffaa00;
    background-color: #ffffff;
}

/* [ Primary Ghost Bootstrap Button ] */
.btn-primario.ghost {
    color: #ffaa00;
    background-color: #ffffff;
    border-color: #ffaa00;
}

.btn-primario.ghost:focus,
.btn-primario.ghost.focus {
    color: #ffbb33;
    background-color: #ffffff;
    border-color: #ffbb33;
}

.btn-primario.ghost:hover {
    color: #ffbb33;
    background-color: #ffffff;
    border-color: #ffbb33;
}

.btn-primario.ghost:active,
.btn-primario.ghost.active,
.open > .dropdown-toggle.btn-primario.ghost {
    color: #ffbb33;
    background-color: #ffffff;
    border-color: #ffbb33;
}

.btn-primario.ghost:active:hover,
.btn-primario.ghost.active:hover,
.open > .dropdown-toggle.btn-primario.ghost:hover,
.btn-primario.ghost:active:focus,
.btn-primario.ghost.active:focus,
.open > .dropdown-toggle.btn-primario.ghost:focus,
.btn-primario.ghost:active.focus,
.btn-primario.ghost.active.focus,
.open > .dropdown-toggle.btn-primario.ghost.focus {
    color: #ffbb33;
    background-color: #ffffff;
    border-color: #ffbb33;
}

.btn-primario.ghost:active,
.btn-primario.ghost.active,
.open > .dropdown-toggle.btn-primario.ghost {
    background-image: none;
}

.btn-primario.ghost.disabled,
.btn-primario.ghost[disabled],
fieldset[disabled] .btn-primario.ghost,
.btn-primario.ghost.disabled:hover,
.btn-primario.ghost[disabled]:hover,
fieldset[disabled] .btn-primario.ghost:hover,
.btn-primario.ghost.disabled:focus,
.btn-primario.ghost[disabled]:focus,
fieldset[disabled] .btn-primario.ghost:focus,
.btn-primario.ghost.disabled.focus,
.btn-primario.ghost[disabled].focus,
fieldset[disabled] .btn-primario.ghost.focus,
.btn-primario.ghost.disabled:active,
.btn-primario.ghost[disabled]:active,
fieldset[disabled] .btn-primario.ghost:active,
.btn-primario.ghost.disabled.active,
.btn-primario.ghost[disabled].active,
fieldset[disabled] .btn-primario.ghost.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-primario.ghost .badge {
    color: #ffaa00;
    background-color: #ffffff;
}

/* [ Primary Ghost Transparent Bootstrap Button ] */
.btn-primario.ghost.transparent {
    color: #ffaa00;
    background-color: transparent;
    border-color: #ffaa00;
}

.btn-primario.ghost.transparent:focus,
.btn-primario.ghost.transparent.focus {
    color: #ffbb33;
    background-color: transparent;
    border-color: #ffbb33;
}

.btn-primario.ghost.transparent:hover {
    color: #ffbb33;
    background-color: transparent;
    border-color: #ffbb33;
}

.btn-primario.ghost.transparent:active,
.btn-primario.ghost.transparent.active,
.open > .dropdown-toggle.btn-primario.ghost.transparent {
    color: #ffbb33;
    background-color: transparent;
    border-color: #ffbb33;
}

.btn-primario.ghost.transparent:active:hover,
.btn-primario.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-primario.ghost.transparent:hover,
.btn-primario.ghost.transparent:active:focus,
.btn-primario.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-primario.ghost.transparent:focus,
.btn-primario.ghost.transparent:active.focus,
.btn-primario.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-primario.ghost.transparent.focus {
    color: #ffbb33;
    background-color: transparent;
    border-color: #ffbb33;
}

.btn-primario.ghost.transparent:active,
.btn-primario.ghost.transparent.active,
.open > .dropdown-toggle.btn-primario.ghost.transparent {
    background-image: none;
}

.btn-primario.ghost.transparent.disabled,
.btn-primario.ghost.transparent[disabled],
fieldset[disabled] .btn-primario.ghost.transparent,
.btn-primario.ghost.transparent.disabled:hover,
.btn-primario.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-primario.ghost.transparent:hover,
.btn-primario.ghost.transparent.disabled:focus,
.btn-primario.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-primario.ghost.transparent:focus,
.btn-primario.ghost.transparent.disabled.focus,
.btn-primario.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-primario.ghost.transparent.focus,
.btn-primario.ghost.transparent.disabled:active,
.btn-primario.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-primario.ghost.transparent:active,
.btn-primario.ghost.transparent.disabled.active,
.btn-primario.ghost.transparent[disabled].active,
fieldset[disabled] .btn-primario.ghost.transparent.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-primario.ghost.transparent .badge {
    color: #ffaa00;
    background-color: transparent;
}

/* [ Secondary Bootstrap Button ] */
.btn-secundario {
    color: #ffffff;
    background-color: #2a3293;
    border-color: #2a3293;
    font-weight: 700;
}

.btn-secundario:focus,
.btn-secundario.focus {
    color: #ffffff;
    background-color: #353fbb;
    border-color: #353fbb;
}

.btn-secundario:hover {
    color: #ffffff;
    background-color: #353fbb;
    border-color: #353fbb;
}

.btn-secundario:active,
.btn-secundario.active,
.open > .dropdown-toggle.btn-secundario {
    color: #ffffff;
    background-color: #353fbb;
    border-color: #353fbb;
}

.btn-secundario:active:hover,
.btn-secundario.active:hover,
.open > .dropdown-toggle.btn-secundario:hover,
.btn-secundario:active:focus,
.btn-secundario.active:focus,
.open > .dropdown-toggle.btn-secundario:focus,
.btn-secundario:active.focus,
.btn-secundario.active.focus,
.open > .dropdown-toggle.btn-secundario.focus {
    color: #ffffff;
    background-color: #353fbb;
    border-color: #353fbb;
}

.btn-secundario:active,
.btn-secundario.active,
.open > .dropdown-toggle.btn-secundario {
    background-image: none;
}

.btn-secundario.disabled,
.btn-secundario[disabled],
fieldset[disabled] .btn-secundario,
.btn-secundario.disabled:hover,
.btn-secundario[disabled]:hover,
fieldset[disabled] .btn-secundario:hover,
.btn-secundario.disabled:focus,
.btn-secundario[disabled]:focus,
fieldset[disabled] .btn-secundario:focus,
.btn-secundario.disabled.focus,
.btn-secundario[disabled].focus,
fieldset[disabled] .btn-secundario.focus,
.btn-secundario.disabled:active,
.btn-secundario[disabled]:active,
fieldset[disabled] .btn-secundario:active,
.btn-secundario.disabled.active,
.btn-secundario[disabled].active,
fieldset[disabled] .btn-secundario.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-secundario .badge {
    color: #2a3293;
    background-color: #ffffff;
}

/* [ Secondary Ghost Bootstrap Button ] */
.btn-secundario.ghost {
    color: #2a3293;
    background-color: #ffffff;
    border-color: #2a3293;
}

.btn-secundario.ghost:focus,
.btn-secundario.ghost.focus {
    color: #353fbb;
    background-color: #ffffff;
    border-color: #353fbb;
}

.btn-secundario.ghost:hover {
    color: #353fbb;
    background-color: #ffffff;
    border-color: #353fbb;
}

.btn-secundario.ghost:active,
.btn-secundario.ghost.active,
.open > .dropdown-toggle.btn-secundario.ghost {
    color: #353fbb;
    background-color: #ffffff;
    border-color: #353fbb;
}

.btn-secundario.ghost:active:hover,
.btn-secundario.ghost.active:hover,
.open > .dropdown-toggle.btn-secundario.ghost:hover,
.btn-secundario.ghost:active:focus,
.btn-secundario.ghost.active:focus,
.open > .dropdown-toggle.btn-secundario.ghost:focus,
.btn-secundario.ghost:active.focus,
.btn-secundario.ghost.active.focus,
.open > .dropdown-toggle.btn-secundario.ghost.focus {
    color: #353fbb;
    background-color: #ffffff;
    border-color: #353fbb;
}

.btn-secundario.ghost:active,
.btn-secundario.ghost.active,
.open > .dropdown-toggle.btn-secundario.ghost {
    background-image: none;
}

.btn-secundario.ghost.disabled,
.btn-secundario.ghost[disabled],
fieldset[disabled] .btn-secundario.ghost,
.btn-secundario.ghost.disabled:hover,
.btn-secundario.ghost[disabled]:hover,
fieldset[disabled] .btn-secundario.ghost:hover,
.btn-secundario.ghost.disabled:focus,
.btn-secundario.ghost[disabled]:focus,
fieldset[disabled] .btn-secundario.ghost:focus,
.btn-secundario.ghost.disabled.focus,
.btn-secundario.ghost[disabled].focus,
fieldset[disabled] .btn-secundario.ghost.focus,
.btn-secundario.ghost.disabled:active,
.btn-secundario.ghost[disabled]:active,
fieldset[disabled] .btn-secundario.ghost:active,
.btn-secundario.ghost.disabled.active,
.btn-secundario.ghost[disabled].active,
fieldset[disabled] .btn-secundario.ghost.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-secundario.ghost .badge {
    color: #2a3293;
    background-color: #ffffff;
}

/* [ Secondary Ghost Transparent Bootstrap Button ] */
.btn-secundario.ghost.transparent {
    color: #2a3293;
    background-color: transparent;
    border-color: #2a3293;
}

.btn-secundario.ghost.transparent:focus,
.btn-secundario.ghost.transparent.focus {
    color: #353fbb;
    background-color: transparent;
    border-color: #353fbb;
}

.btn-secundario.ghost.transparent:hover {
    color: #353fbb;
    background-color: transparent;
    border-color: #353fbb;
}

.btn-secundario.ghost.transparent:active,
.btn-secundario.ghost.transparent.active,
.open > .dropdown-toggle.btn-secundario.ghost.transparent {
    color: #353fbb;
    background-color: transparent;
    border-color: #353fbb;
}

.btn-secundario.ghost.transparent:active:hover,
.btn-secundario.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-secundario.ghost.transparent:hover,
.btn-secundario.ghost.transparent:active:focus,
.btn-secundario.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-secundario.ghost.transparent:focus,
.btn-secundario.ghost.transparent:active.focus,
.btn-secundario.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-secundario.ghost.transparent.focus {
    color: #353fbb;
    background-color: transparent;
    border-color: #353fbb;
}

.btn-secundario.ghost.transparent:active,
.btn-secundario.ghost.transparent.active,
.open > .dropdown-toggle.btn-secundario.ghost.transparent {
    background-image: none;
}

.btn-secundario.ghost.transparent.disabled,
.btn-secundario.ghost.transparent[disabled],
fieldset[disabled] .btn-secundario.ghost.transparent,
.btn-secundario.ghost.transparent.disabled:hover,
.btn-secundario.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-secundario.ghost.transparent:hover,
.btn-secundario.ghost.transparent.disabled:focus,
.btn-secundario.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-secundario.ghost.transparent:focus,
.btn-secundario.ghost.transparent.disabled.focus,
.btn-secundario.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-secundario.ghost.transparent.focus,
.btn-secundario.ghost.transparent.disabled:active,
.btn-secundario.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-secundario.ghost.transparent:active,
.btn-secundario.ghost.transparent.disabled.active,
.btn-secundario.ghost.transparent[disabled].active,
fieldset[disabled] .btn-secundario.ghost.transparent.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-secundario.ghost.transparent .badge {
    color: #2a3293;
    background-color: transparent;
}

/* [ Terciary Bootstrap Button ] */
.btn-terciario {
    color: #989898;
    background-color: #d8d8d8;
    border-color: #d8d8d8;
    font-weight: 700;
}

.btn-terciario:focus,
.btn-terciario.focus {
    color: #989898;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.btn-terciario:hover {
    color: #989898;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.btn-terciario:active,
.btn-terciario.active,
.open > .dropdown-toggle.btn-terciario {
    color: #989898;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.btn-terciario:active:hover,
.btn-terciario.active:hover,
.open > .dropdown-toggle.btn-terciario:hover,
.btn-terciario:active:focus,
.btn-terciario.active:focus,
.open > .dropdown-toggle.btn-terciario:focus,
.btn-terciario:active.focus,
.btn-terciario.active.focus,
.open > .dropdown-toggle.btn-terciario.focus {
    color: #989898;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.btn-terciario:active,
.btn-terciario.active,
.open > .dropdown-toggle.btn-terciario {
    background-image: none;
}

.btn-terciario.disabled,
.btn-terciario[disabled],
fieldset[disabled] .btn-terciario,
.btn-terciario.disabled:hover,
.btn-terciario[disabled]:hover,
fieldset[disabled] .btn-terciario:hover,
.btn-terciario.disabled:focus,
.btn-terciario[disabled]:focus,
fieldset[disabled] .btn-terciario:focus,
.btn-terciario.disabled.focus,
.btn-terciario[disabled].focus,
fieldset[disabled] .btn-terciario.focus,
.btn-terciario.disabled:active,
.btn-terciario[disabled]:active,
fieldset[disabled] .btn-terciario:active,
.btn-terciario.disabled.active,
.btn-terciario[disabled].active,
fieldset[disabled] .btn-terciario.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-terciario .badge {
    color: #d8d8d8;
    background-color: #ffffff;
}

/* [ Terciary Ghost Bootstrap Button ] */
.btn-terciario.ghost {
    color: #d8d8d8;
    background-color: #ffffff;
    border-color: #d8d8d8;
}

.btn-terciario.ghost:focus,
.btn-terciario.ghost.focus {
    color: #e5e5e5;
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.btn-terciario.ghost:hover {
    color: #e5e5e5;
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.btn-terciario.ghost:active,
.btn-terciario.ghost.active,
.open > .dropdown-toggle.btn-terciario.ghost {
    color: #e5e5e5;
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.btn-terciario.ghost:active:hover,
.btn-terciario.ghost.active:hover,
.open > .dropdown-toggle.btn-terciario.ghost:hover,
.btn-terciario.ghost:active:focus,
.btn-terciario.ghost.active:focus,
.open > .dropdown-toggle.btn-terciario.ghost:focus,
.btn-terciario.ghost:active.focus,
.btn-terciario.ghost.active.focus,
.open > .dropdown-toggle.btn-terciario.ghost.focus {
    color: #e5e5e5;
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.btn-terciario.ghost:active,
.btn-terciario.ghost.active,
.open > .dropdown-toggle.btn-terciario.ghost {
    background-image: none;
}

.btn-terciario.ghost.disabled,
.btn-terciario.ghost[disabled],
fieldset[disabled] .btn-terciario.ghost,
.btn-terciario.ghost.disabled:hover,
.btn-terciario.ghost[disabled]:hover,
fieldset[disabled] .btn-terciario.ghost:hover,
.btn-terciario.ghost.disabled:focus,
.btn-terciario.ghost[disabled]:focus,
fieldset[disabled] .btn-terciario.ghost:focus,
.btn-terciario.ghost.disabled.focus,
.btn-terciario.ghost[disabled].focus,
fieldset[disabled] .btn-terciario.ghost.focus,
.btn-terciario.ghost.disabled:active,
.btn-terciario.ghost[disabled]:active,
fieldset[disabled] .btn-terciario.ghost:active,
.btn-terciario.ghost.disabled.active,
.btn-terciario.ghost[disabled].active,
fieldset[disabled] .btn-terciario.ghost.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-terciario.ghost .badge {
    color: #d8d8d8;
    background-color: #ffffff;
}

/* [ Terciary Ghost Transparent Bootstrap Button ] */
.btn-terciario.ghost.transparent {
    color: #d8d8d8;
    background-color: transparent;
    border-color: #d8d8d8;
}

.btn-terciario.ghost.transparent:focus,
.btn-terciario.ghost.transparent.focus {
    color: #e5e5e5;
    background-color: transparent;
    border-color: #e5e5e5;
}

.btn-terciario.ghost.transparent:hover {
    color: #e5e5e5;
    background-color: transparent;
    border-color: #e5e5e5;
}

.btn-terciario.ghost.transparent:active,
.btn-terciario.ghost.transparent.active,
.open > .dropdown-toggle.btn-terciario.ghost.transparent {
    color: #e5e5e5;
    background-color: transparent;
    border-color: #e5e5e5;
}

.btn-terciario.ghost.transparent:active:hover,
.btn-terciario.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-terciario.ghost.transparent:hover,
.btn-terciario.ghost.transparent:active:focus,
.btn-terciario.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-terciario.ghost.transparent:focus,
.btn-terciario.ghost.transparent:active.focus,
.btn-terciario.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-terciario.ghost.transparent.focus {
    color: #e5e5e5;
    background-color: transparent;
    border-color: #e5e5e5;
}

.btn-terciario.ghost.transparent:active,
.btn-terciario.ghost.transparent.active,
.open > .dropdown-toggle.btn-terciario.ghost.transparent {
    background-image: none;
}

.btn-terciario.ghost.transparent.disabled,
.btn-terciario.ghost.transparent[disabled],
fieldset[disabled] .btn-terciario.ghost.transparent,
.btn-terciario.ghost.transparent.disabled:hover,
.btn-terciario.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-terciario.ghost.transparent:hover,
.btn-terciario.ghost.transparent.disabled:focus,
.btn-terciario.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-terciario.ghost.transparent:focus,
.btn-terciario.ghost.transparent.disabled.focus,
.btn-terciario.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-terciario.ghost.transparent.focus,
.btn-terciario.ghost.transparent.disabled:active,
.btn-terciario.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-terciario.ghost.transparent:active,
.btn-terciario.ghost.transparent.disabled.active,
.btn-terciario.ghost.transparent[disabled].active,
fieldset[disabled] .btn-terciario.ghost.transparent.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-terciario.ghost.transparent .badge {
    color: #d8d8d8;
    background-color: transparent;
}

/* [ Green Ghost Transparent Bootstrap Button ] */
.btn-white.ghost.transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-white.ghost.transparent:focus,
.btn-white.ghost.transparent.focus {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.btn-white.ghost.transparent:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.btn-white.ghost.transparent:active,
.btn-white.ghost.transparent.active,
.open > .dropdown-toggle.btn-white.ghost.transparent {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.btn-white.ghost.transparent:active:hover,
.btn-white.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-white.ghost.transparent:hover,
.btn-white.ghost.transparent:active:focus,
.btn-white.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-white.ghost.transparent:focus,
.btn-white.ghost.transparent:active.focus,
.btn-white.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-white.ghost.transparent.focus {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.btn-white.ghost.transparent:active,
.btn-white.ghost.transparent.active,
.open > .dropdown-toggle.btn-white.ghost.transparent {
    background-image: none;
}

.btn-white.ghost.transparent.disabled,
.btn-white.ghost.transparent[disabled],
fieldset[disabled] .btn-white.ghost.transparent,
.btn-white.ghost.transparent.disabled:hover,
.btn-white.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-white.ghost.transparent:hover,
.btn-white.ghost.transparent.disabled:focus,
.btn-white.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-white.ghost.transparent:focus,
.btn-white.ghost.transparent.disabled.focus,
.btn-white.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-white.ghost.transparent.focus,
.btn-white.ghost.transparent.disabled:active,
.btn-white.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-white.ghost.transparent:active,
.btn-white.ghost.transparent.disabled.active,
.btn-white.ghost.transparent[disabled].active,
fieldset[disabled] .btn-white.ghost.transparent.active {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-white.ghost.transparent .badge {
    color: #fff;
    background-color: transparent;
}

/* [ Red Bootstrap Button ] */

.btn-red {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
  font-weight: 700;
}
.btn-red:focus,
.btn-red.focus {
  color: #ffffff;
  background-color: #e53935;
  border-color: #e53935;
}
.btn-red:hover {
  color: #ffffff;
  background-color: #e53935;
  border-color: #e53935;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #e53935;
  border-color: #e53935;
}
.btn-red:active:hover,
.btn-red.active:hover,
.open > .dropdown-toggle.btn-red:hover,
.btn-red:active:focus,
.btn-red.active:focus,
.open > .dropdown-toggle.btn-red:focus,
.btn-red:active.focus,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red.focus {
  color: #ffffff;
  background-color: #e53935;
  border-color: #e53935;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-red .badge {
  color: #f44336;
  background-color: #ffffff;
}

/* [ red Ghost Bootstrap Button ] */

.btn-red.ghost {
  color: #f44336;
  background-color: #ffffff;
  border-color: #f44336;
}
.btn-red.ghost:focus,
.btn-red.ghost.focus {
  color: #e53935;
  background-color: #ffffff;
  border-color: #e53935;
}
.btn-red.ghost:hover {
  color: #e53935;
  background-color: #ffffff;
  border-color: #e53935;
}
.btn-red.ghost:active,
.btn-red.ghost.active,
.open > .dropdown-toggle.btn-red.ghost {
  color: #e53935;
  background-color: #ffffff;
  border-color: #e53935;
}
.btn-red.ghost:active:hover,
.btn-red.ghost.active:hover,
.open > .dropdown-toggle.btn-red.ghost:hover,
.btn-red.ghost:active:focus,
.btn-red.ghost.active:focus,
.open > .dropdown-toggle.btn-red.ghost:focus,
.btn-red.ghost:active.focus,
.btn-red.ghost.active.focus,
.open > .dropdown-toggle.btn-red.ghost.focus {
  color: #e53935;
  background-color: #ffffff;
  border-color: #e53935;
}
.btn-red.ghost:active,
.btn-red.ghost.active,
.open > .dropdown-toggle.btn-red.ghost {
  background-image: none;
}
.btn-red.ghost.disabled,
.btn-red.ghost[disabled],
fieldset[disabled] .btn-red.ghost,
.btn-red.ghost.disabled:hover,
.btn-red.ghost[disabled]:hover,
fieldset[disabled] .btn-red.ghost:hover,
.btn-red.ghost.disabled:focus,
.btn-red.ghost[disabled]:focus,
fieldset[disabled] .btn-red.ghost:focus,
.btn-red.ghost.disabled.focus,
.btn-red.ghost[disabled].focus,
fieldset[disabled] .btn-red.ghost.focus,
.btn-red.ghost.disabled:active,
.btn-red.ghost[disabled]:active,
fieldset[disabled] .btn-red.ghost:active,
.btn-red.ghost.disabled.active,
.btn-red.ghost[disabled].active,
fieldset[disabled] .btn-red.ghost.active {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-red.ghost .badge {
  color: #f44336;
  background-color: #ffffff;
}

/* [ red Ghost Transparent Bootstrap Button ] */

.btn-red.ghost.transparent {
  color: #f44336;
  background-color: transparent;
  border-color: #f44336;
}
.btn-red.ghost.transparent:focus,
.btn-red.ghost.transparent.focus {
  color: #e53935;
  background-color: transparent;
  border-color: #e53935;
}
.btn-red.ghost.transparent:hover {
  color: #e53935;
  background-color: transparent;
  border-color: #e53935;
}
.btn-red.ghost.transparent:active,
.btn-red.ghost.transparent.active,
.open > .dropdown-toggle.btn-red.ghost.transparent {
  color: #e53935;
  background-color: transparent;
  border-color: #e53935;
}
.btn-red.ghost.transparent:active:hover,
.btn-red.ghost.transparent.active:hover,
.open > .dropdown-toggle.btn-red.ghost.transparent:hover,
.btn-red.ghost.transparent:active:focus,
.btn-red.ghost.transparent.active:focus,
.open > .dropdown-toggle.btn-red.ghost.transparent:focus,
.btn-red.ghost.transparent:active.focus,
.btn-red.ghost.transparent.active.focus,
.open > .dropdown-toggle.btn-red.ghost.transparent.focus {
  color: #e53935;
  background-color: transparent;
  border-color: #e53935;
}
.btn-red.ghost.transparent:active,
.btn-red.ghost.transparent.active,
.open > .dropdown-toggle.btn-red.ghost.transparent {
  background-image: none;
}
.btn-red.ghost.transparent.disabled,
.btn-red.ghost.transparent[disabled],
fieldset[disabled] .btn-red.ghost.transparent,
.btn-red.ghost.transparent.disabled:hover,
.btn-red.ghost.transparent[disabled]:hover,
fieldset[disabled] .btn-red.ghost.transparent:hover,
.btn-red.ghost.transparent.disabled:focus,
.btn-red.ghost.transparent[disabled]:focus,
fieldset[disabled] .btn-red.ghost.transparent:focus,
.btn-red.ghost.transparent.disabled.focus,
.btn-red.ghost.transparent[disabled].focus,
fieldset[disabled] .btn-red.ghost.transparent.focus,
.btn-red.ghost.transparent.disabled:active,
.btn-red.ghost.transparent[disabled]:active,
fieldset[disabled] .btn-red.ghost.transparent:active,
.btn-red.ghost.transparent.disabled.active,
.btn-red.ghost.transparent[disabled].active,
fieldset[disabled] .btn-red.ghost.transparent.active {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-red.ghost.transparent .badge {
  color: #f44336;
  background-color: transparent;
}

/* [ Big Button ] */
.btn-big {
    padding: 10px 30px;
}

.btn {
    border-radius: 0;
}
